mixin def_top(formClass,formId)
  - formClass = formClass || ''
  - formId = formId || ''
  form(class='form ' + formClass, id=''+formId, action='#', enctype='multipart/form-data')
    // Hidden Required Fields
    input(name='form_subject', value='' + formTitle, type='hidden')
    // END Hidden Required Fields
    h6.h6 !{formTitle}
    | !{subtitle}
    ul.form__list
      li.form__item
        label(for="inp_1") Ваше имя
        input(type='text', id="inp_1", required='', name='Ваше имя', placeholder='')
      li.form__item
        label(for="inp_2") Номер телефона
        input(type='tel', id="inp_2", required='', name='Номер телефона', placeholder='')
      //- li.form__item.form__item--textarea
        label(for="inp_3") Сообщение
        textarea(name="Сообщение", id="inp_3")
      li.form__item.form__item--button
        button(type="submit", class="btn btn--blue btn--reverse")
          span.btn__svg
            +svg('right-arrow')
          span.btn__name Записаться на прием
    //- .form__foot
      .form__foot-item
        .form__police
      .form__foot-item
        button(type="submit", class="btn btn--inversion btn--reverse")
          span.btn__svg
            +svg('right-arrow')
          span.btn__name Записаться на прием
mixin def(formClass,formId)
  - formClass = formClass || ''
  - formId = formId || ''
  form(class='form ' + formClass, id=''+formId, action='#', enctype='multipart/form-data')
    // Hidden Required Fields
    input(name='form_subject', value='' + formTitle, type='hidden')
    // END Hidden Required Fields
    h6.h6 !{formTitle}
    | !{subtitle}
    ul.form__list
      li.form__item
        label(for="inp_1") Ваше имя
        input(type='text', id="inp_1", required='', name='Ваше имя', placeholder='')
      li.form__item
        label(for="inp_2") Номер телефона
        input(type='tel', id="inp_2", required='', name='Номер телефона', placeholder='')
      //- li.form__item.form__item--textarea
        label(for="inp_3") Сообщение
        textarea(name="Сообщение", id="inp_3")
      li.form__item.form__item--button
        button(type="submit", class="btn btn--inversion btn--reverse")
          span.btn__svg
            +svg('right-arrow')
          span.btn__name Записаться на прием
    //- .form__foot
      .form__foot-item
        .form__police
      .form__foot-item
        button(type="submit", class="btn btn--inversion btn--reverse")
          span.btn__svg
            +svg('right-arrow')
          span.btn__name Записаться на прием

  - formClass = formClass || ''
  - formId = formId || ''
  form(class='form ' + formClass, id=''+formId, action='#', enctype='multipart/form-data')
    // Hidden Required Fields
    input(name='form_subject', value='' + formTitle, type='hidden')
    // END Hidden Required Fields
    h6.h6 !{formTitle}
    | !{subtitle}
    ul.form__list
      li.form__item
        label(for="inp_1") Ваше имя
        input(type='text', id="inp_1", required='', name='Ваше имя', placeholder='')
      li.form__item
        label(for="inp_2") Номер телефона
        input(type='tel', id="inp_2", required='', name='Номер телефона', placeholder='')
      //- li.form__item.form__item--textarea
        label(for="inp_3") Сообщение
        textarea(name="Сообщение", id="inp_3")
      li.form__item.form__item--button
        button(type="submit", class="btn btn--blue btn--reverse")
          span.btn__svg
            +svg('right-arrow')
          span.btn__name Записаться на прием
    //- .form__foot
      .form__foot-item
        .form__police
      .form__foot-item
        button(type="submit", class="btn btn--inversion btn--reverse")
          span.btn__svg
            +svg('right-arrow')
          span.btn__name Записаться на прием
mixin def_text(formClass,formId)
  - formClass = formClass || ''
  - formId = formId || ''
  form(class='form ' + formClass, id=''+formId, action='#', enctype='multipart/form-data')
    // Hidden Required Fields
    input(name='form_subject', value='' + formTitle, type='hidden')
    // END Hidden Required Fields
    h6.h6 !{formTitle}
    | !{subtitle}
    ul.form__list
      li.form__item
        label(for="inp_1") Ваше имя
        input(type='text', id="inp_1", required='', name='Ваше имя', placeholder='')
      li.form__item
        label(for="inp_2") Номер телефона
        input(type='tel', id="inp_2", required='', name='Номер телефона', placeholder='')
      li.form__item.form__item--textarea
        label(for="inp_3") Сообщение
        textarea(name="Сообщение", id="inp_3")
      li.form__item.form__item--button
        button(type="submit", class="btn btn--inversion-reverse btn--reverse")
          span.btn__svg
            +svg('right-arrow')
          span.btn__name Отправить
mixin wis_form(formClass,formId)
  - formClass = formClass || ''
  - formId = formId || ''
  form(class='form ' + formClass, id=''+formId, action='#', enctype='multipart/form-data')
    // Hidden Required Fields
    input(name='form_subject', value='' + formTitle, type='hidden')
    // END Hidden Required Fields
    h6.h6 !{formTitle}
    //- .form__subtitle  
    .form__list
      .form__list-part.form__list-part--left
        .form__item
          label(for="inp_1") Ваше имя
          input(type='text', id="inp_1", required='', name='Ваше имя', placeholder='')
        .form__item
          label(for="inp_2") Номер телефона
          input(type='tel', id="inp_2", required='', name='Номер телефона', placeholder='')
      .form__list-part.form__list-part--right
        .form__item.form__item--textarea
          label(for="inp_3") Сообщение
          textarea(name="Сообщение", id="inp_3")
    .form__foot
      .form__foot-item
        .form__pricing *cтоимость одного сеанса<b> 500</b> грн
      .form__foot-item 
        button(type="submit", class="btn btn--inversion")
          span.btn__svg
            +svg('right-arrow')
          span.btn__name Записаться на прием